*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    overflow: hidden;
}


.image{
    width: 100%;
    height: 100vh;
    background-image: url(../images/beautiful-ocean-pictures-1920-x-1080-8f7y2fo9yqmym5ch.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

.overline{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/beautiful-ocean-pictures-1920-x-1080-8f7y2fo9yqmym5ch.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(1);
    clip-path: inset( 0 0 0 100%);
    cursor: pointer;
}

.line{
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% - 15px);
    background: white;
    border-radius: 20px;
    box-shadow:  0 0 20px white;
    cursor: e-resize;
    border: 2px dashed black;
}